<h2>受注済み一覧</h2>

<table class="table">
  <thead class="table-light">
    <tr>
    <th scope="col"><nobr>ステータス</nobr></th>
    <th scope="col"><nobr>受付日時</nobr></th>
    <th scope="col"><nobr>依頼品内容</nobr></th>
    <th scope="col"><nobr>見積料金</nobr></th>
    <th scope="col"><nobr>送料</nobr></th>
    <th scope="col"><nobr>氏名</nobr></th>
    <th scope="col"><nobr>電話番号</nobr></th>
    <th scope="col"><nobr>住所</nobr></th>
    <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @checked_orders.each do |order| %>
      <tr class="checked_order_list">
      <td><nobr><%= order.status %></nobr></td>
      <td><%= order.ordered_on.strftime('%Y/%m/%d %H:%M') %></td>
      <td>
        <% order.items.each do |item| %>
          <nobr><%= item.category.name %></nobr>
        <% end %>
      </td>
      <td><nobr><%= order.price %>円</nobr></td>
      <td><nobr><%= order.shipping.price %>円</nobr></td>
      <td><nobr><%= order.customer.name %></nobr></td>
      <td><nobr><%= order.customer.phonenumber %></nobr></td>
      <td><nobr><%= order.customer.address %></nobr></td>
      <td><nobr><%= link_to '詳細', edit_admin_order_path(order) %></nobr></td>
      <td><nobr><%= link_to "削除", admin_order_path(order), method: :delete, data: {confirm: "本当に削除しますか？"} %></nobr></td>
      </tr>
    <% end %>
  </tbody>
</table>