<h2><%= t('admin.order_forms.index.checked_title') %></h2>

<div class="table-responsive">
<table class="table">
  <thead class="table-light">
    <tr>
    <th scope="col"><nobr><%= t('admin.order_forms.index.status') %></nobr></th>
      <th scope="col"><nobr>
        <%= sort_link(@q, :ordered_on, t('admin.order_forms.index.ordered_on'), default_order: :asc) %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.items') %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.items_count') %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.checked_price') %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.name') %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.phonenumber') %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.email') %></nobr></th>
      <th scope="col"><nobr><%= t('admin.order_forms.index.address') %></nobr></th>
    <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @checked_orders.each do |order| %>
      <tr class="checked_order_list">
      <td><nobr><%= order.status_i18n %></nobr></td>
      <td><%= l order.ordered_on %></td>
      <td>
        <% order.items.each do |item| %>
          <nobr><%= item.category.name %></nobr>
        <% end %>
      </td>
      <td><nobr><%= order.items.length %></nobr></td>
      <td><nobr><%= order.price %>円</nobr></td>
      <td><nobr><%= order.customer.name %></nobr></td>
      <td><nobr><%= order.customer.phonenumber %></nobr></td>
      <td><nobr><%= order.customer.email %></nobr></td>
      <td><nobr><%= order.customer.address %></nobr></td>
      <td><nobr><%= link_to '詳細', edit_admin_order_path(order) %></nobr></td>
      <td><nobr><%= link_to "削除", admin_order_path(order), method: :delete, data: {confirm: "本当に削除しますか？"} %></nobr></td>
      <td><nobr><%= link_to "注文書", admin_order_show_pdf_index_path(order_id: order.id, format: "pdf"), target: "_blank" %></nobr></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @checked_orders %>