<h2 class="mt-4 mb-1 text-white bg-dark-custom p-3"><%= t("admin.order_forms.index.checked_title") %></h2>

<%= search_form_for @q, url: search_admin_orders_path do |f| %>
  <div class="d-flex justify-content-end my-1">
    <div class="row align-items-center p-2">
      <div class="col-auto p-2">
        <%= f.label :customer_name_cont, '名前', class: "form-label mb-0" %>
      </div>
      <div class="col-auto p-1">
        <%= f.search_field :customer_name_cont, class: "form-control form-control-sm" %>
      </div>
    </div>
    <div class="row align-items-center p-2">
      <div class="col-auto p-2">
        <%= f.label :customer_phonenumber_cont, '電話番号', class: "form-label mb-0" %>
      </div>
      <div class="col-auto p-1">
        <%= f.search_field :customer_phonenumber_cont, class: "form-control form-control-sm" %>
      </div>
    </div>
    <div class="row align-items-center p-2">
      <div class="col-auto p-2">
        <%= f.label :ordered_on, "期間", class: "form-label mb-0" %>
      </div>
      <div class="col-auto p-1">
        <%= f.date_field :ordered_on_gteq, class: "form-control form-control-sm" %>
      </div>
      <div class="col-auto">
        <span>〜</span>
      </div>
      <div class="col-auto p-1">
        <%= f.date_field :ordered_on_lteq, class: "form-control form-control-sm" %>
      </div>
      <div class="col-1">
        <%= f.submit '検索', class: "btn btn-outline-custom-opposite" %>
      </div>
    </div>
  </div>
<% end %>

<div class="table-responsive">
<table class="table text-nowrap table-striped">
  <thead class="table-dark text-white">
    <tr>
      <th colspan="1" scope="col">注文書</th>
      <th colspan="1" scope="col">受注詳細</th>
      <th scope="col"><%= t("admin.order_forms.index.status") %></th>
      <th scope="col">
        <%= sort_link(@q, :ordered_on, t("admin.order_forms.index.ordered_on"), default_order: :asc, class: "text-white link-offset-2 link-offset-2-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover") %></th>
      <th scope="col"><%= t("admin.order_forms.index.items") %></th>
      <th scope="col"><%= t("admin.order_forms.index.items_count") %></th>
      <th scope="col"><%= t("admin.order_forms.index.checked_price") %></th>
      <th scope="col"><%= t("admin.order_forms.index.name") %></th>
      <th scope="col"><%= t("admin.order_forms.index.phonenumber") %></th>
      <th scope="col"><%= t("admin.order_forms.index.email") %></th>
      <th scope="col"><%= t("admin.order_forms.index.address") %></th>
      <th colspan="1" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @checked_orders.each do |order| %>
      <tr>
        <td><%= link_to "注文書", admin_order_show_pdf_index_path(order_id: order.id, format: "pdf"), target: "_blank", class: "primary-link" %></td>
        <td><%= link_to "詳細", edit_admin_order_path(order), class: "primary-link" %></td>
        <td><%= order.status_i18n %></td>
        <td><%= l order.ordered_on %></td>
        <td>
          <% order.items.each do |item| %>
            <%= item.category.name %>
          <% end %>
        </td>
        <td><%= order.items.length %></td>
        <td><%= order.price %>円</td>
        <td><%= order.customer.name %></td>
        <td><%= order.customer.phonenumber %></td>
        <td><%= order.customer.email %></td>
        <td><%= order.customer.address %></td>
        <td><%= link_to "削除", admin_order_path(order), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "danger-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @checked_orders, theme: "bootstrap-5" %>
