<table class="table text-nowrap table-striped">
  <thead class="table-dark text-white">
    <tr>
      <th scope="col"><%= t('admin.categories.index.name') %></th>
      <th scope="col"><%= t('admin.categories.index.price') %></th>
      <th scope="col"><%= t('admin.categories.index.display') %></th>
      <th scope="col"><%= t('admin.categories.index.created_at') %></th>
      <th scope="col"></th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.price %></td>
        <td>
          <%= link_to display_update_admin_category_path(category), method: :put, data: { confirm: "公開設定を変更してよろしいですか？" }, remote: true do %>
            <% if category.display %>
              <i class="btn btn-outline-custom-opposite btn-sm">公開中</i>
            <% else %>
              <i class="btn btn-sm">非公開</i>
            <% end %>
          <% end %>
        </td>
        <td><%= l category.created_at %></td>
        <td><%= link_to "削除", admin_category_path(category), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "danger-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <div class="col-auto">
      <%= paginate @categories, remote: true, theme: "bootstrap-5" %>
    </div>
  </div>


