<h2 class="mt-4 mb-2 text-white bg-dark-custom p-3"><%= t('admin.categories.new.title') %></h2>

<%= form_with(model: @category, url: admin_categories_path, local: true) do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert alert-danger mb-2">
      <ul class="mb-0">
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container bg-dark-custom">
    <div class="row py-5">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
          </div>


          <div class="col-6">
          <%= form.label :price, class: "form-label" %>
          <%= form.number_field :price, class: "form-control" %>
          </div>
        <div>

        <div class="row py-5">
          <div class="col-auto">
            <%= form.check_box :display, { class: "form-check-input" }, true, false %>
            <%= form.label :display, class: "form-check-label" %>
          </div>
        </div>

        <div class="my-3 d-grid gap-2 col-4 mx-auto">
          <%= form.submit '追加する', id: "add-category", class: "btn btn-outline-custom btn-lg" %>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <% end %>
