<!DOCTYPE html>
<html>
  <head>
    <title>SomeReq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbolinks-visit-control" content="reload">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>

  <body>
    <% if admin_signed_in? %>
      <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Some-Req</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "仮受注一覧", unchecked_index_admin_orders_path, class: "nav-link text-white" %>
                </li>
                <li class="nav-item">
                    <%= link_to "受注済一覧", checked_index_admin_orders_path, class: "nav-link text-white" %>
                </li>
                <li class="nav-item">
                    <%= link_to "新規登録", new_admin_order_path, class: "nav-link text-white" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    メニュー管理
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "メニュー一覧", admin_categories_path, class: "dropdown-item text-white" %></li>
                    <li><%= link_to "メニュー追加", new_admin_category_path, class: "dropdown-item text-white" %></li>
                  </ul>
                </li>
                <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, data: { confirm: "本当にログアウトしますか？" }, class: "nav-link text-white" %>
                </li>
              </ul>
          </div>
        </div>
      </nav> 
    <% end %>

    <% flash.each do |key, value| %>
      <% if key == "error" || key == "alert" %>
        <%= content_tag(:div, value, class: "alert alert-danger") %>
      <% else %>
        <%= content_tag(:div, value, class: "alert alert-secondary") %>
      <% end %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
